
#titulop{background-color: cadetblue;
color: antiquewhite;
text-align: center;
background-image: url(imagens/imagem\ atividade\ 1.jpg);
background-repeat: no-repeat, repeat;

}


#titulo
 {background-color: cadetblue;
color: antiquewhite;
font-style: italic;
width: 110px;
background-image: url(imagens/imagem\ atividade\ 1.jpg);

}
#quadrado{background-image: url(imagens/segunda\ imagem\ atividade\ 1.jpeg);}

#titulol{
font-style: italic;
width: 110px;}


#marcacao{color: antiquewhite;
    background-image: url(imagens/imagem\ atividade\ 1.jpg)
}
    
    
    
    
    





